In [1]:
import pandas as pd
import numpy as np

In [3]:
master = pd.read_csv('data/master.csv')
master.head()

,patent_number,grant_year,app_year,num_inventors,us_inventor,cite_foreign_patent,is_missing,num_design_cited,num_utility_cited,non-pat_refs,num_figures,num_assignees,priority_date,missing_data
0,D257752,1981,1980,1,1.0,0.0,1,1,2,1.0,6.0,1,1980,0
1,D257924,1981,1980,1,1.0,0.0,1,1,2,1.0,6.0,1,1980,0
2,D258382,1981,1980,2,1.0,0.0,1,2,1,0.0,5.0,1,1980,0
3,D258383,1981,1980,2,1.0,0.0,1,2,1,0.0,5.0,1,1980,0
4,D258571,1981,1980,1,1.0,0.0,1,1,1,0.0,2.0,1,1980,1

In [17]:
final = pd.read_csv('data/final.csv')
final.head()

,patent_number,priority_date,cited_patent_number,cite_mainclass,cite_subclass,focal_mainclass,focal_subclass
0,D257752,1980,4162014,211,211/50,D19,D19/75
1,D257752,1980,4162014,211,211/55,D19,D19/75
2,D257752,1980,4162014,211,211/126.1,D19,D19/75
3,D257924,1980,4162014,211,211/50,D06,D6/573
4,D257924,1980,4162014,211,211/55,D06,D6/573

In [20]:
master = master.loc[master.patent_number.isin(final.patent_number.unique().tolist())]
master.to_csv('data/master_503107.csv', index_label=False)